    @media screen and (max-width:576px) {
    /* header-section-start-here */
    .navbar{
        margin: 10px 20px;
        flex-direction: column;
    }
    .nav-name{
        padding: 0 30px;
        gap: 5px;
        padding: 0px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .offer-span{
        display: none;
    }
    .nav-spical{
        padding: 10px 5px;
    }
    .nav-icon {
        display: block;
        /* width: 24px;
        height: 24px; */
    }
    .fa-bars{
        font-size: 30px;
    }
    .nav-menu{
        flex-direction: column;
        align-content: flex-start;
        margin-top: 15px;
        gap: 20px;
        display: none;
    }
    .navbar{
        display: flex;
    }
    .fa-solid{

    }
    /* header-section-end-here   */
    /* main-section-start-here   */
    /* Subscribe-section-start */
    .Subscribe-section {
        flex-direction: column;
        margin: 10px 20px;
    }
    .Subscribe-content{
        margin-right: 0px;
    }
    .Subscribe-image img {
        width: 100%;
        margin-top: 20px;
    }
    .Subscribe-discount{

        /* left: 30.4%; */
        bottom: 10.6%;
        right: 2%;
        transform: rotate(-24.628deg);
    }
    
    /* Subscribe-section-end */
    /* last-section-start */
    .last-section{
        flex-direction: column;
        margin: 20px 20px;
    }
    .last-images img {
        width: 100%;
        margin-top: 20px;
    }
    .last-images-title{
        left: 17%;
    }
    /* last-section-end */
    /* discounts-section-start */
    .discounts-section{
        margin: 20px 20px;
    }
    .discount-image img{
        height: 620px;
        width: 100%;
    }
    .spical-offers{
        bottom: 7%;
        left: 0%;
        margin: 10px 25px;
        width: 288px;
    }
    .popular-content h1 {
        font-size: 35px;
    }
    .discount-image-2 img {
        width: 100%;
        height: 620px;
    }
    .spical-offers-2{
        bottom: 7%;
        left: 0%;
        margin: 10px 25px;
        width: 288px;
        display: block;
    }
    .last-button {
        margin: 10px 20%;
    }
    /* discounts-section-end */
    /* service-offers-start */
    .service-offers{
        display: flex;
        flex-direction: column;
    }
    .service-offer-1, .service-offer-2, .service-offer-3 {
        margin: 10px 30px;
        width: 330px;
    }
    .service-message p{
        padding: 10px 20px;
    }
    /* service-offers-end */
    /* place-section-start */
    .place-section{
        margin: 20px 20px;
    }
    .place-img-1, .place-img-2, .place-img-3{
        flex-direction: column;
    }
    .images-5 img {
        height: 250px;
    }
    .images-3 img{
        height: 260px;
    }
    .images-7 img{
        height: 240px;
    }
    .place-spical-7 {
        left: 32%;
    }
    .images-1 img,.images-2 img{
        height: 250px;
    }
    /* place-section-end */
    /* popular-section-start */
    .popular-section{
        flex-direction: column;
        margin: 20px 20px;
    }
    .popular-image img{
        width: 100%;
        margin-top: 20px;
        height: 80%;
    }
    /* popular-section-end */
    /* banner-section-start */
    .banner-section{
        margin: 15px 20px;
        background-size: 1000px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
        , url('Images/Group 13\ \(1\)\ \(1\).png'); 
    }
    .banner-options{
        flex-direction: column;
    }
    .banner-item {
        padding: 20px 10px;
    }
    .banner-options select{
        width: 270px;
        height: 52px;
    }
    .banner-button{
        width: 220px;
        height: 52px;
        display: block;
        margin: 0 auto;
    }
    .discount-title h2{
        font-size: 38px;
    }
    .news{
        width: 270px;
        height: 52px;
    }
    .banner-sub-title {
        padding: 20px 10px;
    }
    .banner-title {
        font-size: 55px;
    }
    /* banner-section-end */
    /* main-section-end-here  */
    /* footer-section-start-here  */
    .footer-section{
        padding: 50px 40px;
    }
    /* footer-section-end-here */
}
@media screen and (max-width:350px) {
    .navbar-name{
        font-size: 28px;
    }
    .span{
        font-size: 28px;
    }
    .nav-name img{
        height: 40px;
        width: 40px;
        
    }
    .nav-spical {
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
    }
    .nav-name {
        gap: 1px;
    }
    .fa-bars{
        font-size: 25px;
    }
    .banner-options select{
        width: 220px;
    }
    .news{
        width: 220px;
    }
    .banner-options{
        padding: 10px;
    }
    .images-3 img,.images-5{
        height: 240px;
    }
    .place-spical-4{
        left: 13%;
    }
    .place-spical-2,.place-spical-1,{
        left: 30%;
    }
    .place-spical-7{
        left: 25%;
    }
    .images-6 img{
        padding: 15px 7px;
    }
    .service-message h2{
        font-size: 33px;
    }
    .service-offer-1, .service-offer-2, .service-offer-3 {
        width: 290px;
    }
    .service-offer-1 img,.service-offer-2 img,.service-offer-3 img{
        width: 40%;
    }
    .discount-title h2{
        font-size: 32px;
    }
    .spical-offers,.spical-offers-2{
        width: 240px;
        height: 310px;
        padding: 18px;
        /* height: 340px; */
    }
    .older{
        width: 170px;
    }
    .spical-offers-2 h3,.spical-offers h3{
        font-size: 20px;
        font-weight: 600;
    }
    .spical-offers p,.spical-offers-2 p {
        line-height: 20px;
    }
    .spical-offers-2 h4,.spical-offers h4{
        font-size: 15px;
    }
    .last-button{
        margin: 10px 10%;
    }
    .last-content h1{
        font-size: 28px;
        line-height: 37px;
    }
    .last-images-title {
        left: 10%;
        font-size: 13px;
    }
    .Subscribe-input{
        padding-top: 2px;
    }
    .Subscribe-content {
        padding-top: 20px;
    }
    .Subscribe-content p{
        line-height: 20px;
        font-size: 15px;
    }
    .Subscribe-button{
        margin-top: 15px;
    }
    .Subscribe-content{
        padding: 18px 20px;
    }
    .Subscribe-image img {
        height: 340px;
    }
    .Subscribe-discount {
        bottom: 11.5%;
        width: 200px;
    }
    .discount-image-2 img {
        height: 580px;
    }
    .discount-image img{
        height: 580px;
    }
}