@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
   *{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* header-section-start-here */
    .navbar{
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        margin: 10px 100px;
        margin-top: 20px;
    }
    .nav-name{
        align-items: center;
        gap: 12px;
        display: flex;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .nav-name img {
        /* width: 52px;
        height: 55px; */
    }
    .navbar-name{
        color: #131318;        
        font-family: Mulish;
        font-size: 36px;
        font-weight: 800;
    }
    
    .span{        
        color: #FF5400;
        font-family: Mulish;
        font-size: 36px;
        font-weight: 800;
    }
    .nav-menu{
        display: flex;
        /* border: 2px solid blue; */
        align-items: center;
        gap: 30px;
    }
    .nav-menu a{
        text-decoration: none;
        color: #424247;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
    }
    
    .nav-menu .home{
        color: #FF5400;
        text-align: center;
        font-family: Mulish;
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
    }
    /* header-section-end-here   */

    /* main-section-start-here   */
    /* banner-section-start */
    .banner-section{
        /* width: 1100px; */
        text-align: center;
        /* padding: 0px 100px; */
        margin: 10px 80px;
        margin-top: 40px;
        /* height: 500px; */
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
        , url('Images/Group 13\ \(1\)\ \(1\).png'); 
}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.banner-sub-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px;        
}
.banner-item {
    padding: 100px 10px;
    color: white;
}
.banner-options {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px; 
    margin-top: 10px;         
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30); 
}
.banner-options select{
width: 170px;
height: 48px;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 17px;
font-weight: 400;
padding-left: 10px;
}
.banner-button {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
.fa-solid {
    font-size: 17px;
    padding-right: 10px;
}
    /* popular-section-start */
    .popular-section{
        display: flex;
        margin: 20px 80px;
        margin-top: 80px;
    }
    .popular-image img{
        width: 470px;
        height: 490px;
        flex-shrink: 0;
    }
    .popular-content h1{
        color: #131318;
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
        padding-bottom: 14px;
    }
    /* .popular-message{
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 14px 0;
        padding-right: 20px;
    } */
    .popular-content p{
            color: rgba(19, 19, 24, 0.70);
            font-family: Mulish;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin: 14px 0;
            padding-right: 50px;
    }
    .list-content{
        padding-left: 25px;
    }
    /* main-section-end-here  */

    /* footer-section-start-here  */
    .footer-section{
        text-align: center;
        margin-top: 55px;
        background: rgba(19, 19, 24, 0.05);
        padding: 60px 180px;
    }
    .footer-name{
        align-items: center;
        gap: 12px;
        display: flex;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .foot-name{
        align-items: center;
        gap: 12px;
        justify-content: center;
        display: flex;
        padding: 15px 0;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .footer-name{
        color: #131318;        
        font-family: Mulish;
        font-size: 32px;
        font-weight: 800;
    }
    .spans{        
        color: #FF5400;
        font-family: Mulish;
        font-size: 32px;
        font-weight: 800;
    }
    .foot-name img{
        width: 45px;
        height: 46.673px;
    }
    .footer-section P{
        color: #5A5A5D;        
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .social{
        padding: 20px 0;
    }
    .copyright{
        color: #131318;
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
        padding-top: 40px;
    }
    /* footer-section-end-here */