@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
   *{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* header-section-start-here */
    .navbar{
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-between;
        margin: 10px 100px;
        margin-top: 20px;
    }
    .nav-name{
        align-items: center;
        gap: 12px;
        display: flex;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .nav-name img {
        /* width: 52px;
        height: 55px; */
    }
    .navbar-name{
        color: #131318;        
        /* font-family: Mulish; */
        font-size: 36px;
        font-weight: 800;
    }
    
    .span{        
        color: #FF5400;
        /* font-family: Mulish; */
        font-size: 36px;
        font-weight: 800;
    }
    .nav-menu{
        display: flex;
        /* border: 2px solid blue; */
        align-items: center;
        gap: 30px;
    }
    .nav-menu a{
        text-decoration: none;
        color: #424247;
        /* font-family: Mulish; */
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
    }
    
    .nav-menu .home{
        color: #FF5400;
        text-align: center;
        /* font-family: Mulish; */
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
    }
    /* header-section-end-here   */

    /* main-section-start-here   */
    /* banner-section-start */
    .banner-section{
        /* width: 1100px; */
        text-align: center;
        /* padding: 0px 100px; */
        margin: 10px 80px;
        margin-top: 40px;
        /* height: 500px; */
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
        , url('Images/Group 13\ \(1\)\ \(1\).png'); 
}
.banner-title{
    color: #FFF;
    /* font-family: Mulish; */
    font-size: 60px;
    font-weight: 800;
}
.banner-sub-title{
    color: #FFF;
    /* font-family: Mulish; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px;        
}
.banner-item {
    padding: 100px 10px;
    color: white;
}
.banner-options {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px; 
    border: none;
    margin-top: 10px;         
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    transition: 4s;
}
.banner-options:hover{
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px rgb(247, 234, 234),
    0.3em 0.3em 1em rgba(202, 18, 18, 0.6);
    outline: none;
    border: none;
}
.banner-options select{
width: 170px;
height: 48px;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
/* font-family: Mulish; */
font-size: 17px;
font-weight: 400;
padding-left: 10px;
}
.banner-button {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    /* font-family: Mulish; */
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 1.5s;
}
.banner-button:hover{
    color: #FF5400;
    background-color: #f8cbcb;
}
.last-button:hover{
    color: #FF5400;
    background-color: #f8cbcb;
}
.fa-solid {
    font-size: 17px;
    padding-right: 10px;
}
    /* popular-section-start */
    .popular-section{
        display: flex;
        margin: 20px 80px;
        margin-top: 80px;
    }
    .popular-image img{
        width: 470px;
        height: 490px;
        flex-shrink: 0;
    }
    .popular-content h1{
        color: #131318;
        /* font-family: Mulish; */
        font-size: 38px;
        font-weight: 800;
        padding-bottom: 14px;
    }
    /* .popular-message{
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 14px 0;
        padding-right: 20px;
    } */
    .popular-content p{
            color: rgba(19, 19, 24, 0.70);
            /* font-family: Mulish; */
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin: 14px 0;
            padding-right: 50px;
    }
    /* popular-section-end */
    /* place-section-start */
    .place-section {
        margin: 20px 80px;
        margin-top: 80px;
        text-align: center;
    }
    .place-images{
        margin-top: 35px;
    }
    .place-img-1,.place-img-2,.place-img-3{
        display: flex;
        
    }
    .images-1{
        position: relative;
    }
    .images-1 img{
        width: 100%;
        padding: 8px 7px;
    }
    .place-spical-1{
        position: absolute;
        bottom: 48%;
        left: 37%;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
    }
    .images-2{
        position: relative;
    }
    .images-2 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-2{
        position: relative;
    }
    .place-spical-2 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 37%;
    }
    /* .place-img-2 img {
        width: 100%px;
    } */
    .images-3 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-3 {
        position: relative;
    }
    .place-spical-3 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 33%;
    }
    .images-4 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-4 {
        position: relative;
    }
    .place-spical-4 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 30%;
    }
    .images-5 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-5 {
        position: relative;
    }
    .place-spical-5 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 30%;
    }
    .images-6 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-6 {
        position: relative;
    }
    .place-spical-6 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 30%;
    }
    .images-7 img{
        width: 100%;
        padding: 8px 7px;
    }
    .images-7 {
        position: relative;
    }
    .place-spical-7 {
        position: absolute;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;        
        font-weight: 800;
        top: 40%;
        left: 38%;
    }
    
    /* .place-img-2 img {
        padding: 8px 7px;
    } */
    /* .place-img-3 img {
        width: 50%;
        padding: 8px 7px;
    } */
    .place-title h2 {
        color: #131318;
        text-align: center;
        /* font-family: Mulish; */
        font-size: 40px;        
        font-weight: 800;
    }
    .place-title p{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        /* font-family: Mulish; */
        font-size: 16px;        
        font-weight: 400;
        line-height: 26px;
        padding-top: 15px;
    }
    /* .place-images img {
        object-fit: cover;
    } */
    /* place-section-end */
    /* Service-section-start */
    .service-section {
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .service-offers {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 40px;
        
    }
    .service-offers h3 {
        padding: 7px 0;
    }
    
    .service-message {
        text-align: center;
    }
    .service-message h2 {
        color: #131318;
        text-align: center;
        /* font-family: Mulish; */
        font-size: 40px;
        font-weight: 800;
    }
    .service-offer-3 h3 {
        padding: 7px 0;
    }
    .service-message p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        /* font-family: Mulish; */
        font-size: 16px;        
        font-weight: 400;
        line-height: 26px;
        padding-top: 10px;
    }
    .service-offer-1,.service-offer-2,.service-offer-3{
        border: 2px solid black;
        width: 400px;
        padding: 20px;
        margin: 10px 15px;
    }
    .service-offer-1 {
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }
    .service-offer-2 {
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }
    .service-offer-3 {
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);  
    }
    .service-offer-1 img {
        /* height: 20px; */
        width: 20%;
        height: 65px;
        object-fit: cover;
        border-radius: 10px;
    }
    .service-offer-2 img {
        width: 20%;
        height: 65px;
        object-fit: cover;
        border-radius: 10px;
    }
    .service-offer-3 img {
        width: 20%;
        height: 65px;
        object-fit: cover;
        border-radius: 10px;
    }
    /* Service-section-end */
    /* Discounts-section-start */
    .discounts-section {
        margin: 20px 80px;
        margin-top: 80px;
    }
    .discounts-section img{
        width: 100%;
        padding-bottom: 15px;
    }
    .discount-title {
        text-align: center;
        margin-bottom: 40px;
    }
    .discount-title h2 {
        color: #131318;
        text-align: center;
        /* font-family: Mulish; */
        font-size: 40px;        
        font-weight: 800;
    }
    .discount-title p{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        /* font-family: Mulish */
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 10px;
    }
    .discount-image {
        position: relative;
    }
    .discount-image-2{
        position: relative;
    }
    .spical-offers-2{
        position: absolute; 
        bottom: 20%;
        left: 5%;
        width: 550px;
        padding: 30px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);        
        backdrop-filter: blur(2.5px);
        transition: 1.5s;
        cursor: pointer;
    }
    .spical-offers:hover{
            box-shadow:
            inset 0 -3em 3em rgb(0 200 0 / 30%),
            0 0 0 2px rgb(247, 234, 234),
            0.3em 0.3em 1em rgba(202, 18, 18, 0.6);
        }
        .spical-offers-2:hover{
            box-shadow:
            inset 0 -3em 3em rgb(0 200 0 / 30%),
            0 0 0 2px white,
            0.3em 0.3em 1em rgb(200 0 0 / 60%);
        }
    .discount-image-2 i{
        color: #FF5400;
    }
    .spical-offers-2 h3 {
        color: #131318;
        /* font-family: Mulish; */
        font-size: 24px;
        font-weight: 800;
        padding: 12px 0;
}
.spical-offers-2 p{
    color: #5A5A5D;
    /* font-family: Mulish;     */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.spical-offers-2 h4 {
    color: #FF5400;
    /* font-family: Mulish; */
    font-size: 20px;
    font-weight: 800;  
    padding: 8px 0;    
}
    .discount-image i{
        color: #FF5400;
    }
    
    .spical-offers {
        position: absolute;
        bottom: 20%;
        left: 45%;
        width: 550px;
        padding: 30px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);        
        backdrop-filter: blur(2.5px);
        transition: 1.5s;
        cursor: pointer;
    }
    .spical-offers h3 {
        color: #131318;
        /* font-family: Mulish; */
        font-size: 24px;
        font-weight: 800;
        padding: 12px 0;
}
.spical-offers p{
    color: #5A5A5D;
    /* font-family: Mulish;     */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.spical-offers h4 {
    color: #FF5400;
    /* font-family: Mulish; */
    font-size: 20px;
    font-weight: 800;  
    padding: 8px 0;    
}
    .discount-ul {
        display: flex;
        gap:30px;
        color: #5A5A5D;
        /* font-family: Mulish; */
        font-size: 16px;
        font-weight: 400;
}
    .last-button{
        border: none;
        padding: 15px 30px;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        /* font-family: Mulish; */
        font-size: 18px;
        font-weight: 800;
        margin-top: 20px;
        margin: 10px 35%;
        transition: 1.5s;
        cursor: pointer;
    }
    /* Discounts-section-end */
    .list-content{
        padding-left: 25px;
    }
    /* last-section-start */
    .last-section{
        display: flex;
        margin: 20px 80px;
        margin-top: 80px;
    }
    .last-images img {
        width: 550px;
        object-fit: cover;
        height: 424px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    }
    .last-images{
        position: relative;
    }
    .last-images-title{
        color: white;
        position: absolute;
        bottom: 45%;
        left: 25%;
        text-align: center;
    }
    .last-content {
        padding-right: 30px;
    }
    .last-content h1{
        color: #131318;        
        /* font-family: Mulish; */
        font-size: 38px;
        font-weight: 800;
        line-height: 60px;
        /* padding-right: 50px; */
    }
    .last-content-p{
        color: #5A5A5D;
        /* font-family: Mulish; */
        font-size: 16px;        
        font-weight: 400;
        line-height: 26px;
        padding-top: 15px;
        padding-bottom: 8px;
    }
    .last-content ul {
        color: #131318;        
        /* font-family: Mulish; */
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }
    .last-ul-text p{
        padding: 8px 0;
    }
    .last-ul-text{
        padding: 10px 0px 10px 20px;
    }
    /* last-section-end */
    /* Subscribe-section-start */
    .Subscribe-section{
        display: flex;
        margin: 20px 80px;
        margin-top: 80px;
    }
    .Subscribe-image{
        position: relative;
    }
    .Subscribe-image img{
        width: 642px;
        height: 422px;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 16px;
        /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    }
    .Subscribe-content{
        border-radius: 16px;
        margin-right: 15px;
        /* display: flex;
        flex-direction: column; */
        padding: 25px 40px;
        padding-top: 40px;
        border: 1.5px solid #FF5400;
        /* padding: 20px; */
    }
    .Subscribe-content h1{
        color: #131318;
        /* font-family: Mulish; */
        font-size: 30px;        
        font-weight: 800;
    }
    .Subscribe-content p{
        color: #5A5A5D;
        /* font-family: Mulish; */
        font-size: 16px;          
        font-weight: 400;
        line-height: 26px;
        padding: 20px 0;
    }
    .Subscribe-input{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .Subscribe-input input {
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        padding: 15px 20px;
        color: rgba(19, 19, 24, 0.30);        
        /* font-family: Mulish; */
        font-size: 16px;
        font-weight: 400;
        outline: none;
    }
    .Subscribe-button{
        margin-top: 20px;
        border-radius: 8px;
        background: #FF5400;
        padding: 12px 20px;
        border: none;
        color: #FFF;        
        text-align: center;
        /* font-family: Mulish; */
        font-size: 20px;
        font-weight: 800;
        transition: 1s;
        cursor: pointer;
    }
    .Subscribe-button:hover{
        color: #FF5400;
        background-color: #f8cbcb;
    }
    .Subscribe-discount{
        width: 220px;
        padding: 20px 20px;
        border: none;
        color: #FFF;
        text-align: center;
        border-radius: 9px;
        background: #FF5400;
        transform: rotate(-28.628deg);
        position: absolute;
        bottom: 13.6%;
        left: 64.8%;
        transition: 1.5s;
        cursor: pointer;
    }
    .Subscribe-discount:hover{
        
        background-color: #4a4646;
    }
    .Subscribe-discount p{
        color: #FFF;
        text-align: center;
        /* font-family: Mulish; */
        /* font-size: 15px; */
        font-weight: 400;
    }
    .Subscribe-discount h3 {
        color: #FFF;
        /* font-family: Mulish; */
         /* font-size: 22px; */
        font-weight: 800;
    }
    /* Subscribe-section-end */        
    /* main-section-end-here  */

    /* footer-section-start-here  */
    .footer-section{
        text-align: center;
        margin-top: 55px;
        background: rgba(19, 19, 24, 0.05);
        padding: 60px 180px;
    }
    .footer-name{
        align-items: center;
        gap: 12px;
        display: flex;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .foot-name{
        align-items: center;
        gap: 12px;
        justify-content: center;
        display: flex;
        padding: 15px 0;
        /* border: 2px solid rgb(243, 0, 0); */
    }
    .footer-name{
        color: #131318;        
        /* font-family: Mulish; */
        font-size: 32px;
        font-weight: 800;
    }
    .spans{        
        color: #FF5400;
        /* font-family: Mulish; */
        font-size: 32px;
        font-weight: 800;
    }
    .foot-name img{
        width: 45px;
        height: 46.673px;
    }
    .footer-section P{
        color: #5A5A5D;        
        /* font-family: Mulish; */
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .social{
        padding: 20px 0;
        font-size: 32px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .copyright{
        color: #131318;
        /* font-family: Inter; */
        font-size: 16px;
        font-weight: 300;
        padding-top: 40px;
    }
    .hide{
        display: none;
    }
    /* footer-section-end-here */